.sticky-note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-note-container h2 {
  font-family: "Poltawski Nowy", sans-serif;
  font-size: 25px;
  color: #382e2c;
  margin-top: -5px;
}

.sticky-note-wrapper {
  display: flex;
  justify-content: center;
}

.sticky-note {
  width: 180px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 20px;
  height: auto;
  transition: transform 0.2s;
}

.sticky-note:last-child {
  margin-right: 0;
}

.sticky-note:hover {
  transform: translateY(-5px);
}

.note-text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #382e2c;
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
  max-width: 140px;
  white-space: pre-wrap;
}

.note-textarea {
  width: 170px;
  height: 120px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #382e2c;
  resize: vertical;
  overflow: auto;
  word-wrap: break-word;
}

/* Styling for buttons */
.save-button,
.edit-button,
.add-note-button,
.delete-button {
  background-color: #9a9086;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover,
.edit-button:hover,
.add-note-button:hover,
.delete-button:hover {
  background-color: #382e2c;
}

/* Styling for dropdown color picker within the sticky notes */
.color-picker select {
  width: 80px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #382e2c;
  cursor: pointer;
  margin-bottom: 4px;
}

/* Media Query */
@media (max-width: 480px) {
  .sticky-note-container h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .sticky-note {
    width: 120px;
    height: auto;
  }

  .note-textarea {
    width: 115px;
  }
}
