.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

#task-input {
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
  padding: 0.5rem;
}

#task-input:focus {
  outline: var(--primary-color);
}

#task-input::placeholder {
  color: var(--secondary-color);
}

.btn {
  height: 2rem;
  width: 100%;
  border-radius: 0.725rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: white;
}