.todo-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60%;
    gap: 8px;
}

.todo-list{
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 12px 8px;
    border-radius: 8px;
    background-color: #F2E471;
    
}
.todo-list input[type="checkbox"]{
    margin-right: 10px;
    
}

.deletBtn{
    margin-left: auto;
}

.deletBtn button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.deletBtn button:hover {
 cursor: pointer;
        transform: rotate(-10deg);
    
}

.completeAmount p, 
.todo-list label{
    font-size: 25px;
    font-family: "Caveat", cursive;
    font-weight: 400;
}


[type="checkbox"]{
    opacity: 0;
}

[type="checkbox"] + label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: #666;
    line-height: 25px;;

}

[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    margin-top: 2px;

    left: 0;
    top: 0;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    outline: 2px solid #FDCA05;
    background-color: white;
}

[type="checkbox"]:checked + label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px; 
    height: 18px;
    outline: 2px solid #FDCA05;
    background-color: white;
}

[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px; 
    height: 18px;
    background-image: url(../../Image/check.png);
    background-size: contain;
    transform: scale(1);  
    opacity: 1;
    transition: all .3s ease;;
}

[type="checkbox"]:not(:checked)+ label::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px; 
    height: 18px;
    background-image: url(../../Image/check.png);
    background-size:contain;
    transform: scale(0);
    opacity: 0;
}