.taskItem {
  box-sizing: content-box;
  background-color: #bc8cff;
  cursor: pointer;
  margin: 20px 10px;
  border-radius: 6px;
  padding: 10px 20px;
  display: flex;
}
.taskItem:hover {
  background-color: #bc8cff6d;
}

#radioCheckbox:checked + .customRadioCheckbox {
  color: white;
}
.customCheckboxContent {
  display: flex;
  flex-direction: column;
}
.checkboxDatesContainer {
  display: flex;
}
.checkboxInput:checked + .customRadioCheckbox .customCheckboxContent h2,
.checkboxInput:checked
  + .customRadioCheckbox
  .customCheckboxContent
  .checkboxDatesContainer
  h5 {
  text-decoration: line-through;
  color: white;
}
.deleteBtn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
}
