/* TodoItem.css */

.item {
  font-size: 1.1rem;
  padding: 12px 20px;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
  transition: background 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.item.dark-mode {
  background: #333;
  border-color: #555;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  margin-right: 10px;
  width: 20px; 
  height: 20px; 
}

.textContainer {
  flex: 1;
}

.title {
  font-size: 1rem; /* Reduced font size for better readability on mobile */
  color: #333;
  transition: color 0.3s ease;
  word-break: break-word;
}

.content.dark-mode .title {
  color: #ddd;
  
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.button {
  cursor: pointer;
  background: transparent;
  border: none;
  transition: color 0.3s ease;
}

.icon {
  fill: #5b5b5b;
}

.content.dark-mode .icon {
  fill: #ccc;
}

.completed {
  text-decoration: line-through;
  color: #aeadad;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 5px;
  font-size: 2rem; 
}
