.list-btn {
  display: flex;
  justify-content: end;
}

.list-container {
  padding: 20px;
  border: 1px solid var(--sun-purple);
  border-radius: 20px;
  height: auto;
}

.task-wrapper {
  display: flex;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

.task-text {
  padding-left: 10px;
}

.task-date {
  padding-left: 10px;
  font-size: 0.8em;
  color: var(--sun-purple);
}
