.completed {
  background-color: rgb(255, 151, 151);
  min-height: 500px;
  margin-top: 1em;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.count {
  align-self: flex-end;
}

.no-complete-img {
  width: 90%;
  align-self: center;
  justify-self: center;
}

/* .complete-btn {
  margin: 0;
} */
