.completed {
  background-color: rgb(255, 151, 151);
  min-height: 700px;
  display: grid;
  grid-template-rows: 6% 90% 4%;
}

.image img {
  width: 70%;
}

.count {
  align-self: flex-end;
}

.no-complete-img {
  width: 90%;
  align-self: center;
}

/* .complete-btn {
  margin: 0;
} */
