.greeting{
    display: flex;
    margin-bottom: 2em;
    padding-top: 1em;
}

#lottie{
    width: 180px;
}
.greet-text{
    text-align: justify;
}

@media screen and (min-width: 768px){
    #lottie{
        width: 200px;
    }
}

@media screen and (min-width: 1024px){
    #lottie{
        width: 230px;
    }
    .greet-text{
        font-size: 1.5em;
    }
}