.greeting{
    display: flex;
    margin-bottom: 1em;
    padding-top: 1em;
}

#lottie{
    width: 120px;
}
.greet-text{
    text-align: justify;
}

@media screen and (min-width: 768px){
    #lottie{
        width: 150px;
    }
}

@media screen and (min-width: 1024px){
    #lottie{
        width: 180px;
    }
    .greet-text{
      
    }
}