.headerContainer {
  background-color: #a1ccd1;
  padding: 50px 0;
  display: relative;
}

.logo {
  margin: 10px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.header {
  text-align: center;
}

@media (min-width: 745px) {
  .header {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 50px;
  }
}

@media (min-width: 1500px) {
  .header {
    font-size: 50px;
  }
}
