.listContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
}

.listWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15px;
  margin-top: 40px;
}

.listTitle {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}

.taskList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.count {
  opacity: 0.7;
}

@media (min-width: 745px) {
  .listContainer {
    width: 400px;
  }

  .listTitle {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .listContainer {
    width: 500px;
  }

  .listTitle {
    font-size: 32px;
  }
}

@media (min-width: 1500px) {
  .listContainer {
    width: 600px;
  }

  .listTitle {
    font-size: 36px;
  }
}
