.task-list {
  display: grid;
  grid-template-rows: repeat(5, max-content);
  grid-template-columns: 100%;
  gap: 1em;
}

li {
  background-color: rgb(255, 220, 226);
  border-radius: 20px;
  width: inherit;
  height: fit-content;
  padding: 1em;

  p {
    padding: 0 0 0.5em 1em;
  }
}

.task-item {
  width: inherit;
  display: flex;
  align-items: flex-start;
  padding: 1em 1em 0.5em 1em;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}

.checkbox {
  width: 30px;
  height: 30px;
}

.unchecked {
  position: absolute;
  z-index: 0;
}
.checked {
  position: absolute;
  z-index: 1;
  display: none;
}
input[type="checkbox"]:checked ~ .checked {
  display: block;
}

.task-content {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  padding-left: 1em;
}

.task-text {
  max-width: 80%;
  height: auto;
  word-wrap: break-word;
  text-wrap: wrap;
  padding-top: 4px;
}

label {
  font-size: 1.3em;
  font-weight: 600;
}

.trashbin {
  width: 15px;
  height: 15px;
  padding-top: 5px;
}
