.todo-list {
  background-color: rgb(136, 134, 255);
  display: flex;
  flex-direction: column;
}

.clear {
  width: 50%;
  justify-self: center;
  align-self: center;
}

.top-todo {
  display: flex;
  justify-content: space-between;
}
