.todo-form {
  background-color: rgb(129, 148, 255);
  height: 150px;
  place-content: center;

  h1 {
    margin-bottom: 1em;
    margin-top: 0;
  }
}

form {
  display: flex;
  align-items: center;
}

.submit-button {
  box-sizing: border-box;
  width: 20%;
  height: 50px;
  padding: 0.3em 0.7em;
  color: white;
  border: none;
  background-color: rgb(255, 151, 151);
  border-radius: 0 5px 5px 0;
}

.submit-button:disabled {
  background-color: lightgray;
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  cursor: not-allowed;
}

input[type="text"] {
  box-sizing: border-box;
  width: 90%;
  height: 50px;
  border-radius: 5px 0 0 5px;
  border: none;
  text-indent: 0.5em;
  color: rgba(119, 1, 1, 0.562);
  font-weight: 500;
  font-size: 1.4em;
}

input[type="text"]:focus {
  outline: none;
}

.word-count {
  margin: 0.4em 0.2em;
}

input::placeholder {
  font-weight: 600;
  font-family: "Quicksand";
  color: rgba(119, 1, 1, 0.562);
}

@media screen and (min-width: 768px) {
  .todo-form {
    height: 100px;
  }
  input[type="text"] {
  text-indent: 1em;
  }
}
