@import "../index.scss";

.heading-background {
  padding: 30px;

  .heading-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      margin: 0;
    }

    .checklist {
      font-size: 40px;
    }
  }

  button {
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.light {
  background-color: $spring-prim;

  button {
    background-color: $spring-third;
    border: 2px solid $spring-sec;
  }
}

.dark {
  background-color: #102375;
}
