@import "../index.scss";

.task-input-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  input {
    border-radius: 10px;
    padding: 7px;
  }

  input:focus::placeholder {
    color: transparent;
  }

  button {
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.light-button {
  background-color: $light-third;
  border: 2px solid $light-sec;
}

.light-button:hover {
  background-color: $light-sec;
  border: 2px solid $light-third;
}

.dark-button {
  background-color: $dark-third;
  border: 2px solid $dark-sec;
}

.dark-button:hover {
  background-color: $dark-sec;
  border: 2px solid $dark-third;
}
