@import "../index.scss";

.task-input-box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  input:focus::placeholder {
    color: transparent;
  }

  button {
    background-color: $spring-third;
    border: 2px solid $spring-sec;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: $spring-sec;
    border: 2px solid $spring-third;
  }
}
