@import "../index.scss";

.tasklist {
  padding: 0 30px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      list-style: none;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      display: flex;
      gap: 5px;
      width: 300px;
      align-items: center;

      .fireball {
        width: 20px;
        height: 20px;
      }

      button {
        margin-left: auto;
        max-height: 26px;
      }
    }
  }
}

.background-light {
  border: 10px solid $light-fourth;
}

.background-dark {
  border: 10px solid $dark-fourth;
  background-color: #000;
  color: #fff;
}
