@import "../index.scss";

.tasklist {
  padding: 0 30px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      list-style: none;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      display: flex;
      gap: 5px;
      width: 300px;
      align-items: center;

      input {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }

      .single-task {
        font-size: 15px;
      }

      .fireball {
        width: 20px;
        height: 20px;
      }

      .date {
        font-size: 12px;
        margin-left: auto;
        width: 50px;
      }

      button {
        margin-left: auto;
        font-size: 20px;
        border: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}

.background-light {
  border: 10px solid $light-sec;
  background-color: $light-fourth;
}

.background-dark {
  border: 10px solid $dark-fourth;
  background-color: $dark-prim;
  color: #fff;
}

@media (min-width: 460px) {
  .tasklist {
    ul {
      li {
        width: 400px;

        .single-task {
          font-size: 20px;
        }

        .date {
          font-size: 15px;
          width: 80px;
        }
      }
    }
  }
}

@media (min-width: 820px) {
  .tasklist {
    ul {
      li {
        width: 700px;

        .single-task {
          font-size: 25px;
        }

        .date {
          font-size: 20px;
          width: 100px;
        }
        button {
          font-size: 35px;
        }
      }
    }
  }
}
