.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    var(--sun-yellow),
    var(--sun-orange),
    var(--sun-pink)
  );
  position: fixed;
  top: 0;
  width: 100%;
}

.header-title {
  text-align: center;
}

.header-subtitle {
  color: var(--sun-yellow);
  text-align: center;
}

.counter {
  border: 1px solid var(--sun-purple);
  background: var(--white);
  color: var(--sun-purple);
  padding: 5px;
  margin-bottom: 10px;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: 600;
}
