.reminder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reminder-container h2 {
  font-family: "Poltawski Nowy", sans-serif;
  font-size: 25px;
  color: #382e2c;
  margin-top: -5px;
}

.add-reminder input[type="text"],
.add-reminder input[type="datetime-local"] {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #695853;
  padding: 6px 10px;
  border: 1px solid #9a9086;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.add-reminder input:focus {
  outline: 1px solid #695853;
}

.add-reminder input[type="text"]::placeholder {
  color: #695853;
}

.add-reminder button {
  padding: 8px 16px;
  background-color: #9a9086;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #382e2c;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.add-reminder button:hover {
  background-color: #382e2c;
  color: #ffffff;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.reminder-item {
  animation: jump 0.5s ease-in-out infinite;
}

.reminder-item > div {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #695853;
  margin-top: 5px;
  margin-left: -25px;
}

.reminder-item.overdue > div {
    color: #ff0000;
  }
