.todo-container {
    position: relative;
}

.todo {
    position:relative;
    border: 2px solid black;
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    margin: 1.5rem 4rem;
}

.todo-clear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.timestamp{
    position:absolute;
    right: 5rem;
    bottom: -1.6rem;
    font-size: 0.7rem;
    color: grey;
}