.todo-area {
  align-items: center;
}

.todo-container{
    position: relative;
}

.todo-list {
  display: relative;
  justify-content: flex-start;
  align-items: center;
  margin-inline: 1rem;
}

.todo-list h2 {
  font-size: clamp(0.85rem, 2.5vw, 1.5rem);
  margin-inline: auto;
}

.todo {
  position: relative;
  border: 2px solid black;
  border-radius: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  max-width: 500px;
  margin: 1.5rem auto;
}

.todo label {
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
  margin-inline: 1rem;
}

.todo label img {
  width: clamp(0.85rem, 2.5vw, 1.5rem);
}

.todo-clear {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.timestamp {
  position: absolute;
  right: 1rem;
  bottom: -1.7rem;
  font-size: 0.7rem;
  color: grey;
}
