.task-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 4rem;
}

.task-input input {
    background-color: gold;
    width: 100%;
    line-height: 25px;
    border-radius: 30px;
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid black;
}
.task-input input:focus {
    background-color: white;
}