.task-amount {
  font-size: 14px;
  font-weight: lighter;
  margin: 14px 0;
}

.completion-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 180px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.clear-all-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}

.clear-all-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 134px;
  height: 47px;
  background-color: #f7f7f7;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 0;
}

.clear-all-button p {
  font-size: 16px;
  padding-left: 10px;
}

.clear-all-button img {
  width: 48px;
}
