.form__container input {
  padding: 10px;
  border: none;
  background-color: #e9e9ed;
  min-width: 300px;
  margin-right: 10px;
  border-radius: 10px;
}

.form__container button {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
}

.form__container button:hover {
  background-color: #3a3a3a;
}
