.todo-list-wrapper {
  /* background-color: lightgoldenrodyellow; */
}

.todo-section {
  /* background-color: darkseagreen; */
}

.todo-wrapper {
  border: 1px solid black;
}

.todo-wrapper form {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.todo-section .description {
  min-width: 500px;
  padding: 0 30px;
}
