.to-do-list-item {
  /* background-color: black; */
  color: white;
  list-style: none;
}

.to-do-list-item input {
  border: pink;
}

.to-do-list-item li {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  margin-bottom: 5px;
  max-width: 382px;
  height: 60px;
}

.remove-button {
  width: 61px;
}
