
.add-container{
    width: 60%;
}
.add-task-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
   
}

input[type=text].add-input{
    padding: 12px 16px;
    width: 100%;
    background-color: #F2E471;
    border: 2px solid transparent;
    border-radius: 8px;
    position: relative;
    min-height: 50px;
    word-wrap: break-word;
    
}

.addBtn{
    align-self: end;
    position: absolute;
    border: none;
    padding: 10px 12px;
    background-color: #FBCE05;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 15px;
}

input::placeholder {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: 400;
  }

@media only screen and (max-width: 768px) {
    
.add-container{
    width: 100%;
}
input::placeholder{
    white-space: pre-wrap;
}
input[type=text].add-input{
    height: fit-content;
}
}