.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0px 12px 0px 12px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #b6b6b6;
  border-radius: 25px;
  top: 0;
  right: 0; /* Moved to the right */
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #333;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #333;
}

.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #776B5D;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .toggle-switch {
    width: 40px;
    height: 20px;
    margin-top: 10px; /* Added margin for mobile devices */
  }
}

/* For tablet devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .toggle-switch {
    width: 45px;
    height: 22px;
    margin-top: 10px; /* Added margin for tablet devices */
  }
}

/* For desktop devices */
@media only screen and (min-width: 1025px) {
  .toggle-switch {
    width: 50px;
    height: 25px;
    margin-top: 10px; /* Added margin for desktop devices */
  }
}
