@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* general styling */

:root {
  --sun-yellow: #ffe7a5;
  --sun-orange: #faaa82;
  --sun-pink: #e07082;
  --sun-purple: #a24892;
  --sun-blue: #203d98;
  --white: #ffffff;
  --black: #000000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

p,
label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: var(--black);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  color: var(--sun-purple);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  color: var(--sun-purple);
}
