body {
  background-color: rgb(229, 244, 229);
}

h1 {
  cursor: pointer;
  font-size: 26px;
}

.title {
  text-align: center;
  color: rgb(13, 71, 13);
}

.app-container {
  padding: 20px 40px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Media queries*/

@media (min-width: 400px) {
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 600px) {
  .app-container {
    padding: 20px 100px;
  }
}
