@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  /* background-color: #efb316; */
  background-image: url("../src/assets/estee-janssens-HAzwnsI9oEQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

main {
  position: relative;
  z-index: 10;
  width: 60vw;
  max-height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 6px solid #000;
  border-radius: 30px;
  overflow: hidden;
  padding: 50px;
}

.inner-container {
  max-width: 1200px;
  padding: 50px;
  overflow: scroll;
}

.errosMsg {
  color: red;
}

/* General styling */
button {
  border: none;
  min-width: 80px;
  padding: 6px 12px;
  border-radius: 10px;
}

button.update-btn {
  background-color: #000;
  color: white;
}

button.update-btn:hover {
  background-color: rgba(0, 0, 0, 0.521);
  color: white;
}

button.delete-btn {
  background-color: red;
  color: white;
}

button.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.492);
  color: white;
}

form input {
  background-color: #e9e9ed;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
