* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E1F6C7;
}

#root {
  width: 500px;
}
