*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  padding: 0;
}

$spring-prim: #f28585;
$spring-sec: #ffa447;
$spring-third: #fffc9b;
$spring-fourth: #b7e5b4;
